@model List<pos.Models.IncomingItem>
@{
    ViewData["Title"] = "List Incoming Item";
}

@Html.Partial("/Views/ItemReturned/Create.cshtml")
@Html.Partial("/Views/ItemReturned/Edit.cshtml")

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-invoice-list-outline"></i>
            </span>
            Item Returned
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Item Returned
                    <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">List Item Returned</h4>
                        </div>
                        <div class="col-md-6">
                            <a id="btn_add_item_returned" class="btn btn-primary float-end">Add Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table_id" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-start">@Html.DisplayName("#")</th>
                                    <th class="text-start">@Html.DisplayName("Item")</th>
                                    <th class="text-start">@Html.DisplayName("Stock Returned")</th>
                                    <th class="text-start">@Html.DisplayName("Information")</th>
                                    <th class="text-start">@Html.DisplayName("Options")</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Initialize DataTable
        let table = $('#table_id').DataTable();

        // Function to load and populate the DataTable
        function loadDataTable() {
            $.ajax({
                url: "ItemReturned/GetItemReturned",
                type: "GET",
                dataType: "JSON",
                success: function (response) {
                    table.clear(); // Clear existing rows
                    $.each(response.data, function (key, value) {
                        let data = `
                            <tr class="data-row" id="index_${value.id}">
                                <td class="text-start">${key + 1}</td>
                                <td class="text-start">${value.itemName} - ${value.batchNumber}</td>
                                <td class="text-start">${value.stockReturned}</td>
                                <td class="text-start">${value.information}</td>
                                <td class="text-start">
                                    <a href="javascript:void(0)" id="btn_edit_item_returned" data-id="${value.id}" class="btn btn-warning btn-icon pt-2">
                                        <i class="mdi mdi-pencil-box-outline"></i>
                                    </a>
                                    <a href="javascript:void(0)" id="btn_delete_item_returned" data-id="${value.id}" class="btn btn-danger btn-icon pt-2">
                                        <i class="mdi mdi-delete-outline"></i>
                                    </a>
                                </td>
                            </tr>
                        `;
                        table.row.add($(data)).draw(false); // Add new row to DataTable
                    });
                }
            });
        }

        // Load data when the page is ready
        loadDataTable();

        // Clear value form input
        function clearForm() {
            $('#IncomingItemId').val('');
            $('#StockReturned').val('');
            $('#Information').val('');
        }

        // Show modal to add a new item_returned
        $('body').on('click', '#btn_add_item_returned', function () {
            $('#modal_add_item_returned').modal('show');
            clearForm();
        });

        // Add a new item_returned
        $('#Store').click(function (e) {
            e.preventDefault();

            let IncomingItemId = $('#IncomingItemId').val();
            let StockReturned = $('#StockReturned').val();
            let Information = $('#Information').val();
            let formData = new FormData();

            formData.append('IncomingItemId', IncomingItemId);
            formData.append('StockReturned', StockReturned);
            formData.append('Information', Information);
            formData.append('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]').val());

            $.ajax({
                url: '/ItemReturned/Create',
                type: "POST",
                cache: false,
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: response.message,
                            showConfirmButton: true,
                            timer: 3000
                        });

                        $('#modal_add_item_returned').modal('hide'); // Hide modal
                        loadDataTable(); // Reload data
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: response.message,
                        });
                    }
                }
            });
        });

        //Edit a item_returned
        $('body').on('click', '#btn_edit_item_returned', function () {
            let item_id = $(this).data('id');

            $.ajax({
                url: '/ItemReturned/Edit',
                type: 'GET',
                data: { id: item_id },
                cache: false,
                success: function (response) {
                    $('#modal_edit_item_returned').modal('show');

                    $('#itemReturned_id').val(response.data.id);
                    $("#IncomingItemId_edit").val(response.data.incomingItemId).change();
                    $('#StockReturned_edit').val(response.data.stockReturned);
                    $('#Information_edit').val(response.data.information);
                }
            });
        });

        // Update a item
        $('#Update').click(function (e) {
            e.preventDefault();

            let id = $('#itemReturned_id').val();
            let IncomingItemId = $('#IncomingItemId_edit').val();
            let StockReturned = $('#StockReturned_edit').val();
            let Information = $('#Information_edit').val();
            let formData = new FormData();

            formData.append('id', id);
            formData.append('IncomingItemId', IncomingItemId);
            formData.append('StockReturned', StockReturned);
            formData.append('Information', Information);
            formData.append('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]').val());

            $.ajax({
                url: '/ItemReturned/Edit',
                type: "POST",
                cache: false,
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: response.message,
                            showConfirmButton: true,
                            timer: 3000
                        });
                        $('#modal_edit_item_returned').modal('hide'); // Hide modal
                        loadDataTable(); // Reload data
                        clearForm(); // Clear form input
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: response.message,
                        });
                    }
                }
            });
        });

        // Delete a item
        $('body').on('click', '#btn_delete_item_returned', function () {
            let id = $(this).data('id');

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/ItemReturned/Delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: response.message,
                                    showConfirmButton: true,
                                    timer: 3000
                                });

                                loadDataTable();
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: response.message,
                                });
                            }
                        }
                    });
                }
            });
        });
    });

</script>

